[submodule "axis_camera"]
	path = axis_camera
	url = git@github.com:ARG-NCTU/axis_camera.git
[submodule "velodyne"]
	path = velodyne
	url = https://github.com/wellyowo/velodyne.git
[submodule "zed-ros-wrapper"]
	path = zed-ros-wrapper
	url = git@github.com:cihuang123/zed-ros-wrapper.git
